@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --primary: #6366f1;
  --secondary: #8b5cf6;
  --danger: #ef4444;
  --success: #10b981;
}
body {
  @apply bg-slate-900 text-slate-50;
}